###  Variabel dan Tipe Data

In [1]:
x = 10 
y = 3.14 
z = "Data Science" 
user_age = 20 
pi_value = 3.14159 
course_name = "Python for Data Science"

In [2]:
# Integers 
age = 25 

# Floats 
height = 1.75 

# Strings 
name = "Agung" 

# Booleans 
is_student = True 
print(type(age))      
print(type(height))   
print(type(name))     
print(type(is_student))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

### Operator dan Logika

#### 1. Operator Aritmatika

In [4]:
a = 10 
b = 3 

# Penjumlahan 
print(a + b)   

# Pembagian 
print(a / b)   

# Pembagian bulat 
print(a // b)   

# Eksponensial 
print(a ** b)

13
3.3333333333333335
3
1000

#### 2. Operator Perbandingan

In [5]:
print(a > b)  # Output: True 

print(a == b) # Output: False

True
False

#### 3. Operator Logika

In [6]:
x = True 
y = False 
print(x and y) 
print(x or y)

False
True

### Fungsi

In [16]:
# Definisi fungsi sederhana 

def greet(name): 
    return f"Hello, {name}!" 

# Memanggil fungsi 
print(greet("Agung"))

Hello, Agung!

### For Loop

In [18]:
fruits = ["apple", "banana", "cherry"] 
for fruit in fruits: 
    print(fruit)

apple
banana
cherry

### While Loop

In [20]:
counter = 0
while counter < 3: 
    print(counter) 
    counter += 1

0
1
2

### List Comprehension

In [21]:
numbers = [1, 2, 3, 4, 5] 
doubled = [x * 2 for x in numbers] 
print(doubled)

[2, 4, 6, 8, 10]

### If, Elif, Else

In [23]:
score = 85 
if score >= 90: 
    print("A") 
elif score >= 80: 
    print("B") 
else: 
    print("C")

B

### Nested Conditionals

In [25]:
score = 85 
attendance = 90 
if score >= 80: 
    if attendance >= 85: 
        print("Lulus dengan nilai baik") 
    else: 
        print("Kehadiran kurang") 
else: 
    print("Tidak lulus")

Lulus dengan nilai baik